/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
header {
  background: #007bff;
  padding: 15px 30px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffdd57;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("https://picsum.photos/1200/500?random=2") center/cover;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #ffdd57;
  color: #333;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ffc107;
}

/* Booking Form */
.booking-form {
  padding: 50px 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.booking-form h2 {
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Booking List */
.booking-list {
  padding: 40px 20px;
  max-width: 600px;
  margin: auto;
}

.booking-list h2 {
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
}

#bookings {
  list-style: none;
}

#bookings li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 6px;
  border-left: 5px solid #007bff;
}

/* About & Contact */
.about, .contact {
  padding: 40px 20px;
  text-align: center;
}

.about h2, .contact h2 {
  margin-bottom: 15px;
  color: #007bff;
}

/* Footer */
footer {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.delete-btn:hover {
  background: #c82333;
}


/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 32px;
  }
}
